<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>

<a th:href="@{/target}">访问目标页面 target.html</a><br/>
<a th:href="@{/a1a/testAnt}">测试匹配ant风格的路径-->使用？</a><br/>
<a th:href="@{/a1a/testAnt}">测试匹配ant风格的路径-->使用*</a><br/>
<a th:href="@{/a1a/testAnt}">测试匹配ant风格的路径-->使用**</a><br/>
<a th:href="@{/testpath/1}">测试requestmapping 支持路径中的占位符-->testpath</a><br/>
<a th:href="@{/testRequestByServletAPI}">通过ServletAPI向request域对象共享数据</a><br/>
<a th:href="@{/testModelandView}">通过ModelandView向request域对象共享数据</a><br/>
<a th:href="@{/testModel}">通过Model向request域对象共享数据</a><br/>
<a th:href="@{/testMap}">通过map向request域对象共享数据</a><br/>
<a th:href="@{/testModelMap}">通过Modelmap向request域对象共享数据</a><br/>
<a th:href="@{/testSession}">通过session向request域对象共享数据</a><br/>
<a th:href="@{/testApplication}">通过serveletAPI向application域对象共享数据</a><br/>

</body>
</html>